#header a#logo1 img{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#header{
  position: relative;
  margin-top: 40px;
  border-radius: 12px 12px 0px 0px;
}


#main-content{
  width: 960px;
  margin: 0 auto;
  padding: 1em
    
}

h2 strong,
h1 strong {
  font-size: 2em;
  font-weight: 900;
  font-family: 'Lemon', serif;
}

 .image-r{
  float: right;
  width: 300px;
  padding: 5px;
  margin: 10px 0 10px 20px;
}

 #page-wrapper{
  width: 960px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
  border-radius: 12px 12px 0px 0px;
  padding: 2em
}
body {
    background-color: #f0f0f0;
    color: #000000;


a.newpage {
    color: #005fc1;
}

a:link, a:visited {
  background-color: #92C3FA;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #499BF7;
}
  
  ul {
  list-style-type: none;
}