#header a#logo1 img{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#header{
  position: relative;
  margin-top: 40px;
  border-radius: 12px 12px 0px 0px;
}


#main-content{
  width: 960px;
  margin: 0 auto;
  padding: 1em
}

h2 strong {
  font-size: 2em;
  font-weight: 900;
}

 .image-r{
  float: right;
  width: 300px;
  padding: 5px;
  margin: 10px 0 10px 20px;
}

 #page-wrapper{
  width: 960px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
  border-radius: 12px 12px 0px 0px;
  padding: 2em
}
body {
    background-color: #f0f0f0;
    color: #000000;

a {
    color: #004fa0;
} 
 
a:visited {
    color: #00356c;
}
 
a:new-page {
    color: #8791d9;
}
 
a.newpage {
    color: #005fc1;
}
}
 
.inkblot-info .inkblot-image { flex: 0 1 10rem; min-width: 10rem; }
.inkblot-info .inkblot-image img {
  border-radius: 65% 35% 43% 57% / 41% 35% 65% 59%;
  box-shadow: 0.5rem 0 var(--inkblot-accent, transparent);
  /* The height is 8rem, but I want it slightly bigger */
  height: 10rem; width: 10rem;
  margin: -1rem 0;
}